---
import CutCornerButton from "../components/CutCornerButton";
import Input from "../components/Input.astro";
import InteriorContent from "../components/InteriorContent.astro";
import InteriorHero from "../components/InteriorHero.astro";
import TextArea from "../components/TextArea.astro";
import DefaultLayout from "../layouts/Default.astro";
---

<DefaultLayout>
  <InteriorHero>
    <p
      class="uppercase font-extrabold text-zinc-500 -tracking-wider text-center"
    >
      Let's Talk
    </p>
    <h1
      class="font-heading font-black text-5xl md:text-6xl lg:text-7xl text-center mt-4"
    >
      Contact Us
    </h1>
    <p
      class="text-center text-xl md:text-2xl mt-6 max-w-xl mx-auto text-zinc-400"
    >
      We're here to help and answer any questions you may have.
    </p>
  </InteriorHero>
  <InteriorContent>
    <div class="max-w-xl mx-auto">
      <h2 class="font-heading font-black text-3xl">
        What we can help you with?
      </h2>
      <form class="flex flex-col mt-8">
        <label for="name">Name</label>
        <Input type="text" id="name" name="name" class="mt-1" />
        <label class="mt-4" for="email">Email</label>
        <Input type="email" id="email" name="email" class="mt-1" />
        <label class="mt-4" for="message">Message</label>
        <TextArea id="message" name="message" class="mt-1" />
        <CutCornerButton children="Send Message" className="mt-4" />
      </form>
    </div>
  </InteriorContent>
</DefaultLayout>
